.navbar{
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    position: sticky;


    .title{
        width: 20%;
        font-weight: bold;
        font-size: 16px;

    }

    .nav{
        display: flex;
        gap: 30px;
        font-size: 14px;
        
        a:hover{
            transform: scale(1.1);
        }
    }
    
 
}

