.navbar{
   
    position: fixed;
    max-width: 1500px;
    top: 0;
    right: 0;
     left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12%;


    .title{
        font-weight: bold;
        font-size: 16px;
        align-items: center;
    }

    .nav{
        justify-content: right;     
        display: flex;
        gap: 30px;
        font-size: 14px;
        
        a:hover{
            transform: scale(1.1);
        }
    }
    
 
}

